
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Defining Palette Starts:
/* For use in src/lib/core/theming/_palette.scss */
$md-ns-palette1: (
    50 : #eee8ff,
    100 : #d5c5ff,
    200 : #ba9eff,
    300 : #9e77ff,
    400 : #895aff,
    500 : #743dff,
    600 : #6c37ff,
    700 : #612fff,
    800 : #5727ff,
    900 : #441aff,
    A100 : #ffffff,
    A200 : #fefeff,
    A400 : #d3cbff,
    A700 : #beb2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
// Defining Palette Ends:

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Enhanced-Web-App-primary: mat.define-palette($md-ns-palette1);
$Enhanced-Web-App-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Enhanced-Web-App-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Enhanced-Web-App-theme: mat.define-light-theme((
  color: (
    primary: $Enhanced-Web-App-primary,
    accent: $Enhanced-Web-App-accent,
    warn: $Enhanced-Web-App-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Enhanced-Web-App-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
